<html lang="nl">
	<head>
		<meta charset="utf-8" />
		<title>Amsterdam tegen zwerfafval</title>
		<link rel="stylesheet" href="/style.css" />
		<script>
			document.addEventListener("DOMContentLoaded", function () {
				const sections = document.querySelectorAll("section[id]");
				const navItems = document.querySelectorAll(".nav-item");

				const observerOptions = {
					rootMargin: "-50% 0px -50% 0px",
					threshold: 0,
				};

				const observer = new IntersectionObserver((entries) => {
					entries.forEach((entry) => {
						const id = entry.target.getAttribute("id");
						const navLink = document.querySelector(
							`.nav-item a[href="#${id}"]`,
						);
						const navItem = navLink ? navLink.parentElement : null;

						if (entry.isIntersecting) {
							navItems.forEach((item) =>
								item.classList.remove("nav-active"),
							);
							if (navItem) navItem.classList.add("nav-active");
						}
					});
				}, observerOptions);

				sections.forEach((section) => observer.observe(section));
			});
		</script>
	</head>
	<body>
		<main>
			<section>
				<p>Amsterdam verandert in een vuilnisbelt.</p>
				<p>
					Het is makkelijk om statiegeldjagers of de gemeente de
					schuld te geven. Dat lost het probleem niet op.
				</p>
				<p>
					Als gewone Amsterdammer kun je drie dingen doen:
					<ol>
						<li>Breng blikjes en flessen zelf terug.</li>
						<li>
							Wil je dit niet? Zet ze dan <b>naast</b> de prullenbak.
						</li>
						<li>Overtuig anderen hetzelfde te doen.</li>
					</ol>
					<p>
						Zit er geen statiegeld op? Gooi deze ook dan niet in de
						openbare prullenbak. Geen blik of fles in de bak, dan
						ook geen reden om die open te maken.
					</p>
					<p>
						Wil je meer doen? <a href="#wat-kan-ik-zelf-doen"
							>Dat kan</a
						>! Wil je dat de gemeente meer doet? <a
							href="#wat-doet-de-gemeente">Dat kan ook</a
						>! Wil je dat statiegeldjagers minder troep achterlaten? <a
							href="#waarom-geen-strenger-handhaven"
							>Spreek ze aan</a
						>!
					</p>
				</p>
			</section>
			<section id="waarom-zie-ik-zoveel-zwerfafval">
				<h2>Waarom zie ik zoveel afval op straat?</h2>
				<div>
					<p>
						In het centrum van Amsterdam liggen afvalzakken op
						straat. Deze worden vaak opgengebroken voor ze worden
						opgehaald.
					</p>
					<p>
						Buiten het centrum worden prullenbakken opengemaakt door
						<a
							href="https://www.parool.nl/amsterdam/van-daklozen-tot-georganiseerde-teams-de-jacht-op-statiegeld-ontregelt-amsterdam~bd981ec3/"
						>
							statiegeldjagers</a
						>, en deze worden vaak niet goed dichtgemaakt.
					</p>
					<p style="margin-top: 0;">
						Een crowd-sourced steekproef van <a
							href="https://www.zwerfinator.nl/"
							>Dirk de Groot (a.k.a zwerfinator)</a
						> en
						<a href="https://www.plasticsoupsurfer.org/"
							>Merijn Tinga</a
						> liet op november 2024 het volgende zien voor Amsterdam:
						<ul>
							<li>
								20% van de prullenbakken waren open of kapot.
							</li>
							<li>Landelijk is dit slechts 5%.</li>
							<li>
								In kleinere steden is dit nauwelijks een
								probleem.
							</li>
						</ul>
					</p>
				</div>
				<div>
					<img
						src="/prullenbakken_amsterdam.png"
						alt="Prullenbakken in Amsterdam"
						class="img-responsive"
					/>
					<span class="img-caption">
						Gefotografeerde prullenbakken uit het
						<a
							href="https://www.uu.nl/sites/default/files/Rapport%20Nationale%20Prullenbakteldag%202024.pdf"
						>
							"Rapport Nationale Prullenbakteldag 2024"</a
						>, rood = open/kapot.
					</span>
				</div>
				<p>
					We hebben geen vergelijkbare data van vóór de
					statiegeldregeling. Statiegeld is ook zeker niet de enige
					oorzaak.
				</p>
				<p>
					Maar iedereen weet: vóór de statiegeldregeling zagen we veel
					minder afval op straat.
				</p>
				<p>
					Dit is zonde, want sinds de invoering is het aantal flessen
					en blikjes in zwerfafval met zo'n 70% gedaald (<a
						href="https://www.tweedekamer.nl/downloads/document?id=2025D16731"
						>Brief van de staatssecretaris, April 2025</a
					>).
				</p>
				<p>
					Het is makkelijk om de regeling, de statiegeldjagers of de
					gemeente de schuld te geven. Dat lost het probleem niet op.
				</p>
			</section>
			<section id="wat-kan-ik-zelf-doen">
				<h2>Wat kan ik zelf doen?</h2>
				<p>
					Dit kun je in ieder geval doen:
					<ol>
						<li>Breng statiegeldblikjes en flessen zelf terug.</li>
						<li>
							Wil je dit niet? Zet ze dan <b>naast</b> de prullenbak.
						</li>
						<li>Overtuig anderen hetzelfde te doen.</li>
					</ol>
					Zit er geen statiegeld op? Gooi het alsnog niet in de prullenbak,
					zodat er geen reden is om deze open te maken. Natuurlijk werkt
					dit het best als iedereen het doet.
				</p>
				<p>
					Je kunt ook meer doen:
					<ul>
						<li>Spreek mensen die afval op straat gooien aan.</li>
						<li>
							Spreek je buren aan als ze afval of grofvuil op de
							verkeerde dag of plaats op straat zetten. Verwijs ze
							door naar <a href="https://amsterdam-afval.nl/"
								>amsterdam-afval.nl</a
							> (Nederlands).
						</li>
						<li>
							<a
								href="https://www.amsterdam.nl/afval/leen-afvalgrijper-afvalring/"
								>Leen een afvalgrijper via de gemeente Amsterdam</a
							>, of
							<a
								href="https://www.bol.com/nl/nl/l/grijpers/30657/"
								>koop zelf een afvalgrijper</a
							>. Houd je straat schoon. Vraag je buren mee te
							doen.
						</li>
						<li>
							Sluit je aan bij een van de initatieven in de stad:
							<a
								href="https://www.instagram.com/trashyfriendsclub/"
								>Trashy Friends Club (instagram)</a
							>,
							<a href="https://www.vuilnisoproer.nl/vuilnisoproer"
								>Vuilnis oproer Nieuw-West</a
							>, <a href="https://www.amsterdamcleanupday.com/"
								>Amsterdam Cleanup Day</a
							>.
						</li>
						<li>
							<a
								href="https://www.amsterdam.nl/afval/adopteer-afvalcontainer/#dit-doet-een-containeradoptant"
								>Adopteer een van de 14,360 containers</a
							>. Bijna 1/3e is al voorzien. Dit kan ook samen met
							je buren.
						</li>
						<li>
							Meld verkeerd geplaatst afval of volle containers,
							bijvoorbeeld via de
							<a
								href="https://www.amsterdam.nl/contact/amsterdam-app/"
							>
								Amsterdam app
							</a> of
							<a
								href="https://meldingen.amsterdam.nl/incident/beschrijf"
							>
								deze site</a
							>. Ook als de gemeente traag is! Als ze het niet
							weten gebeurt er zeker niks.
						</li>
					</ul>
				</p>
				<p>
					Er zijn <a
						href="https://www.parool.nl/columns-opinie/lezers-over-opengebroken-prullenbakken-in-amsterdam-in-berlijn-en-kopenhagen-is-deze-oplossing-al-heel-normaal~b93cef88/"
					>
						talloze andere ideeën</a
					>, maar deze vereisen vaak investering van de gemeente.
					Bovenstaande kun je zelf doen.
				</p>
			</section>
			<section id="wat-doet-de-gemeente">
				<h2>Wat doet de gemeente?</h2>
				<p>
					Statiegeld-gerelateerde schade <a
						href="https://www.at5.nl/nieuws/232025/schade-statiegeldzoekers-10-miljoen"
						>kost Amsterdam zo'n 4 miljoen euro per jaar</a
					>. De gemeente heeft een aantal maatregelen in gedachten:
					<ul>
						<li>
							Vanaf 1 juli 2025 zijn in stadsdeel Centrum kliko's
							voor ondernemers verplicht [<a
								href="https://www.at5.nl/artikelen/232360/bedrijven-mogen-afval-niet-meer-in-plastic-zakken-op-straat-zetten"
								>AT5</a
							>,
							<a
								href="https://www.parool.nl/amsterdam/nieuwe-maatregel-in-strijd-tegen-afval-ondernemers-moeten-vuilnis-in-kliko-s-dumpen~bcc57962/?referrer=https%3A%2F%2Fwww.google.com%2F"
								>Parool</a
							>]. Dit zou tot minder afvalzakken in het centrum
							moeten leiden.
						</li>
						<li>
							Net als vorige jaren worden er 's zomers extra
							containers geplaatst [<a
								href="https://www.at5.nl/nieuws/233210/met-coaches-en-pizzagleuven-hoopt-gemeente-afvaloverlast-in-zomer-tegen-te-gaan"
								>AT5</a
							>]. <br />
						</li>
						<li>
							Er worden proeven met speciale containers of rekken
							voor statiegeldblikjes en flessen gedaan [<a
								href="https://www.instagram.com/reel/C8me4MLI9Fo/"
								>AT5</a
							>,
							<a
								href="https://www.parool.nl/amsterdam/speciale-inzamelbakken-voor-blikjes-in-het-vondelpark-maar-weet-de-borrelaar-ze-te-vinden~bba15258/"
							>
								Parool</a
							>]. Tot nu toe lijken deze <a
								href="https://www.nhnieuws.nl/nieuws/337571/amsterdammers-gaan-zelf-de-strijd-aan-tegen-door-statiegeld-zoekers-veroorzaakte-troep"
							>
								niet effectief te zijn
							</a> of <a
								href="https://www.parool.nl/amsterdam/zwerfafval-blijft-groot-probleem-in-amsterdam-met-name-in-binnenstad-en-zuidoost~bbf9af6f/"
								>geen opvolging te krijgen</a
							>, omdat plastic en blik alsnog in de normale
							prullenbak belandt.
						</li>
						<li>
							Grofvuil mag vanaf 2026 niet meer zomaar op straat,
							maar moet op afspraak opgehaald worden [<a
								href="https://www.parool.nl/amsterdam/historische-verandering-in-amsterdam-grofvuil-mag-vanaf-2026-niet-meer-zomaar-op-straat~ba43f970/"
								>Parool</a
							>]. Dit zou grofvuil op straat moeten voorkomen,
							maar het zou zomaar averechts kunnen werken.
						</li>
					</ul>

					<p>
						Niet al deze maatregelen zijn even succesvol. Sommige
						hebben <a
							href="https://www.parool.nl/amsterdam/gemeente-roept-op-afval-begin-volgende-week-binnen-te-houden-vanwege-staking-bij-afvalverwerking~bcd73bdf/"
							>onbedoelde effecten</a
						>, zoals ook de statiegeldregeling.
					</p>
					<p>
						Blijf daarom kritisch en constructief. En blijf
						afvalproblemen melden, ook als de gemeente traag
						reageert.
					</p>
				</p>
			</section>
			<section id="waarom-werkt-statiegeld-wel-in-andere-landen">
				<h2>Waarom werkt statiegeld wel in andere landen?</h2>
				<p>
					Goede vraag. Duitsland is het bekendste voorbeeld. Hier
					leidde invoering van statiegeld niet tot aantoonbaar meer
					afval op straat.
				</p>
				<p>
					Een paar belangrijke verschillen:
					<ol>
						<li>
							Nederland loopt ver achter met afvalscheiding.
							Slechts <a
								href="https://www.statiegeldnederland.nl/gm-files/update-voortgang-en-resultaten-statiegeld-in-nederland-cijfers-2024.pdf"
								>77% van plastic wordt nu ingeleverd</a
							>, vegeleken met 98% in Duitsland.
						</li>
						<li>
							Statiegeldcollectie is in Nederland vaak niet goed
							geregeld. Statiegeldapparaten zijn <a
								href="https://www.parool.nl/amsterdam/een-jaar-na-de-invoering-van-statiegeld-op-blikjes-zuchtend-in-ellenlange-rijen-en-langs-omgekieperde-vuilnisbakken~bad34c0a/"
								>vaak stuk</a
							>. Dit motiveert niet tot inleveren, en kost de <a
								href="https://zwerfinator.nl/index.php/blik-op-stuk/"
								>consument indirect geld</a
							>. Dit is in Duitsland beter geregeld [<a
								href="https://nos.nl/artikel/2527333-niemand-voorzag-de-zooi-op-straat-door-uitbreiding-van-statiegeld"
								>NOS</a
							>].
						</li>
						<li>
							Statiegeld is in Duitsland hoger: 25 cent per blikje
							vergeleken met 10 cent in Nederland. Dit is extra
							motivatie om "pfand" terug te brengen.
						</li>
					</ol>
					Hoe dan ook, we kunnen leren van Duitsland. "<a
						href="https://www.pfand-gehoert-daneben.de/"
						>Pfand gehört daneben</a
					>" is daar al lang bekend.
				</p>
			</section>
			<section id="waarom-geen-strenger-handhaven">
				<h2>Waarom niet strenger handhaven?</h2>
				<p>
					Strenger optreden tegen statiegeldjagers levert
					waarschijnlijk weinig op. Zolang de statiegeldregeling
					bestaat zullen er mensen zijn die blikjes verzamelen. Deze
					mensen leven vaak tegen de armoedegrens aan, en kunnen dus
					geen boetes betalen.
				</p>
				<p>
					Statiegeldjagers zijn ook niet de enige oorzaak.
					Bijvoorbeeld: landelijk waren 3% van niet-opengemaakte
					prullenbakken overvol. En veel afval landt nog altijd direct
					op straat.
				</p>
				<p>
					Daarom kijken wij naar wat je zelf kunt doen. Maar ga vooral
					het gesprek aan als iemand een prullenbak open laat staan,
					en spreek mensen die afval op straat gooien aan.
				</p>
				<p>Als jij het niet doet, wie dan wel?</p>
			</section>
		</main>
	</body>
</html>
